p{
    font-family: Raleway;
}

.willkommen {
    font-size: 30px;
    font-family: "MedievalSharp";
    color: whitesmoke;
    font-weight:bolder ;
    margin-bottom: 4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 10px 11px 12px red,

}

.description{
    text-align: center;
    font-size: 25px;
    font-family: "MedievalSharp";
    color: whitesmoke;
    padding-bottom: 0px;
}

.spruch{
    text-align: center;
    font-size: 15px;
    color:whitesmoke;
    font-family: "MedievalSharp";
    padding-bottom: 10px;
    

}